{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/ssnj.png') }}" alt="ssnj" height="250">
                    <div class="card-body">
                    <h5 class="card-title"> <mark>My Student Developer Responsibilites</mark></h5>
                    <p class="card-text">
                        <ol>
                            <p>Agile Methodology allows for productive and collaborative programming, and ensures that every team member is contributing their best abilities to our project</p>
                            <h6>Frontend Developer Responsibilities</h6>
                            <li>A front-end developer builds the front-end portion of websites and web applications—that is, the part that users actually see and interact with</li>
                            <li>Using markdown, frontmatter, mainly in index.html and config.yml to create an aesthetic appearance</li>
                            <li>Making the front of the site user-friendly and easy to look at/interact with</li>
                            <li>Work with backend developers for smooth running of project and to develop understanding of backend web tech like python and js</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/assassin.jpeg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who is <mark>Noor</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Senior at Del Norte High School</li>
                            <li>Passionate about art, baking, and traveling</li>
                            <li>Learning to love code</li>
                        </ol>
                    </p>
                    <a href="https://www.w3schools.com/" class="btn btn-primary">More</a>
                    <a href="https://www.w3schools.com/">More</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How do you manage <mark>Persistent data</mark> with Python?</h5>
                    <p class="card-text">
                        <ol>
                            <li>A Database is an example of persistent data that is held on a computer.  Programming languages and frameworks allow you to store and retrive data.</li>
                            <li>SQL stands for Structured Query Language · SQL lets you access and manipulate databases and has become a long lasting development standard.</li>
                            <li>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper (ORM) that gives application developers the full power and flexibility of SQL.</li>
                            <li>There are many newer and sometimes easier Database languages and frameworks.  Mongo, DynamoDB, Neo4J are Databases being used by students developers in last 3 years.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>    

        </div>
    </div>
{% endblock %}

{% block background %}
    <script src="three.r134.min.js"></script>
    <script src="vanta.fog.min.js"></script>
    <script>
        VANTA.FOG({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            highlightColor: 0x8fffa4,
            midtoneColor: 0xff,
            lowlightColor: 0x0,
            baseColor: 0x0
        })
    </script>
{% endblock %}