<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Noor in Pictures</strong></h1>
        <h2 class="text-secondary"><strong>Artwork</strong></h2>
        <h3 class="text">I have been drawing and painting for as long as I can remember. My favorite mediums are oil paint, colored pencil, and watercolor.</h3>
            <img src="{{ url_for('static', filename='assets/Greenlady.png') }}" alt="Green Lady"
                width= "300"
                height= "400" >
            <img src="{{ url_for('static', filename='assets/Dobie.png') }}" alt="Dobie"
                width= "300"
                height= "400" >
            <img src="{{ url_for('static', filename='assets/Assam.jpeg') }}" alt="Assam"
                width= "530"
                height= "400" >
            <img src="{{ url_for('static', filename='assets/Kahlua.jpeg') }}" alt="Kahlua"
                width= "300"
                height= "400" >
            <img src="{{ url_for('static', filename='assets/EddieMunson.jpeg') }}" alt="Eddie Munson"
                width= "300"
                height= "400" >
        <h2 class="text-secondary"><strong>Baking</strong></h2>
        <h3 class="text">I usually bake when I am really stressed out, and those ironically tend to yield my best results. I look forward to the holidays because I know I am going to be baking.</h3>
            <img src="{{ url_for('static', filename='assets/gingersnap.jpeg') }}" alt="Gingersnap Cookies"
                width= "300"
                height= "400" >
            <img src="{{ url_for('static', filename='assets/icecreamck.jpeg') }}" alt="Ice Cream Cake" >
            <img src="{{ url_for('static', filename='assets/mcrn.jpeg') }}" alt="Macarons"
                width= "300"
                height= "400" >
            <img src="{{ url_for('static', filename='assets/pie.jpeg') }}" alt="Pumpkin Pie"
                width= "300"
                height= "400" >
                <img src="{{ url_for('static', filename='assets/strwbry.jpeg') }}" alt="Strawberry Cake" >
        <h2 class="text-secondary"><strong>Travel</strong></h2>
        <h3 class="text">I don't get many chances to travel, but I treasure the memories of any trips I get to go on. I hope to travel more in my life.</h3>
            <img src="{{ url_for('static', filename='assets/grtbigtree.jpeg') }}" alt="India" >
            <img src="{{ url_for('static', filename='assets/fish.jpeg') }}" alt="Monterrey Bay Aquarium"
                width= "530"
                height= "400" >
            <img src="{{ url_for('static', filename='assets/dsnytrsh.jpeg') }}" alt="Disneyland Trashcan" >
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
